<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Inventaire</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
