<p>JOUEUR : WYDMAN</p>
<p>DATE : YOUPI</p>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/peon.jpg" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <app-peon [peon]="peon"></app-peon>
  </div>

  <ul class="list-group list-group-flush">
    <app-inventory></app-inventory>
  </ul>

  <div class="card-body">
    <a href="#" class="card-link">Save character</a>
    <a href="#" class="card-link">Delete character</a>
  </div>

</div>
