<a routerLink="/characters-creation" routerLinkActive="active" class="btn btn-info">Back</a>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 500px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="margin-left: 400px">
    <div style="margin-left: 100px">
      <div *ngFor="let peonFromList of peonList;let i = index" [ngClass]="i===0?'carousel-item active':'carousel-item'">
        Peon N°{{i+1}}
        <app-character-sheet [peon]="peonFromList"></app-character-sheet>
      </div>
    </div>
    <div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
         style="background-color: black">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
         style="background-color: black">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
