<div class="character-sheet-form">

  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">


      <label for="formControlRange">how many peons do you want to create ?</label>
    <div class="form-group" style="width: 200px">
      <output name="ageOutputName" id="ageOutputId">1</output>
      <input type="range" class="form-control-range" id="formRange"
             min="1" max="10" [(ngModel)]="numberOfPeons" name="numberOfPeonToCreate" oninput="ageOutputId.value = formRange.value">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Name">Caracter Name</label>
        <input type="text" class="form-control" id="Name" name="name" [ngModel] placeholder="Glibuk">
      </div>
      <div class="form-group col-md-6">
        <label for="LastName">Caracter Last Name</label>
        <input type="text" class="form-control" id="LastName" name="lastname" [ngModel] placeholder="Lochnagar">
      </div>
    </div>
    <div class="form-group" style="width: 200px">
      <label for="formControlRange">Creation entropy settings</label>
      <input type="range" class="form-control-range" id="formControlRange" value="50" min="1" max="100" name="entropyLevel" [ngModel]="entropyLevel">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="female" checked [ngModel]>
      <label class="form-check-label" for="exampleRadios1">
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="male" ngModel [ngModel]>
      <label class="form-check-label" for="exampleRadios2">
        Male
      </label>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Race</label>
      <select class="form-control" id="exampleFormControlSelect1" name="race" [ngModel]>
        <option value="human">Human</option>
        <option value="elf">Elf</option>
        <option value="orc">Orc</option>
        <option value="duck">Duck</option>
        <option value="dwarf">Dwarf</option>
      </select>
    </div>


    <div class="form-group">
      <label for="Background">BackGround</label>
      <input type="text" class="form-control" id="Background" placeholder="Like to eat pies" name="background" [ngModel]="'Like to eat pies'">
    </div>


    <p>there is {{maxPointAvailable}} points left to spend</p>
    <p>enter a value between 0 and 75 in each fields</p>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputStrength">Strength</label>
        <input type="number" class="form-control" id="inputStrength" [max]="maxPointPerStat" [min]="0"
               [(ngModel)]="strength" (change)="updateAvailablePoints(strength)" name="strength">
      </div>
      <div class="form-group col-md-2">
        <label for="inputIntel">Intelligence</label>
        <input type="number" class="form-control" id="inputIntel" [max]="maxPointPerStat" [min]="0"
               [(ngModel)]="intelligence" (change)="updateAvailablePoints(intelligence)" name="intelligence">
      </div>
      <div class="form-group col-md-2">
        <label for="inputAgility">Agility</label>
        <input type="number" class="form-control" id="inputAgility" [max]="maxPointPerStat" [min]="0"
               [(ngModel)]="agility" (change)="updateAvailablePoints(agility)" name="agility">
      </div>
      <div class="form-group col-md-2">
        <label for="inputPerception">Perception</label>
        <input type="number" class="form-control" id="inputPerception" [max]="maxPointPerStat" [min]="0"
               [(ngModel)]="perception" (change)="updateAvailablePoints(perception)" name="perception">
      </div>
      <div class="form-group col-md-2">
        <label for="inputCharisma">Charisma</label>
        <input type="number" class="form-control" id="inputCharisma" [max]="maxPointPerStat" [min]="0"
               [(ngModel)]="charisma" (change)="updateAvailablePoints(charisma)" name="charisma">
      </div>
      <div class="form-group col-md-2">
        <label for="inputLuck">Luck</label>
        <input type="number" class="form-control" id="inputLuck" [max]="maxPointPerStat" [min]="0" [(ngModel)]="luck"
               (change)="updateAvailablePoints(luck)" name="luck">
      </div>
    </div>

    <button [disabled]="!isReadytoSubmit" type="submit" class="btn btn-primary">Generate !</button>
  </form>
</div>
